$color-1: #15151D;
$color-2: #FFFFFF;
$color-3: #333333;
$color-4: #E5E5E5;
$color-5: #E21E26;
$color-6: #F3F4F6;
$color-7: #8E9098;
$color-8: #E8EAEE;
$color-9: #F8F8FA;
$color-10: #F1F2F3;
$color-11: #000000;
$color-12: #FFCC68;
$color-13: #F3B845;
$color-14: #1E4AF5;
$color-15: #ECECEC;
