@font-face {
  font-family: 'Roboto Condensed';
  src: url(../assets/fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Regular';
  src: url(../assets/fonts/Roboto-Regular.ttf);
}
.txt-13-15 {
	font-family: 'Roboto Condensed';
	font-size: 13px;
	line-height: 15px;
}
.txt-13-16 {
	font-family: 'Roboto Condensed';
	font-size: 13px;
	line-height: 16px;
}
.txt-14-22 {
	font-family: 'Roboto Condensed';
	font-size: 14px;
	line-height: 22px;
}
.txt-14-17 {
	font-family: 'Roboto Condensed';
	font-size: 14px;
	line-height: 17px;
}
.txt-52-61 {
	font-family: 'Roboto Condensed';
	font-size: 52px;
	line-height: 61px;
}
.txt-15-23 {
	font-family: 'Roboto Condensed';
	font-size: 15px;
	line-height: 23px;
}
.txt-15-24 {
	font-family: 'Roboto Condensed';
	font-size: 15px;
	line-height: 24px;
}
.txt-25-30 {
	font-family: 'Roboto Condensed';
	font-size: 25px;
	line-height: 30px;
}
.txt-25-29x5 {
	font-family: 'Roboto Condensed';
	font-size: 25px;
	line-height: 29.5px;
}
.txt-15-24-ror {
	font-family: 'Roboto Regular';
	font-size: 15px;
	line-height: 24px;
}
.txt-15-18 {
	font-family: 'Roboto Condensed';
	font-size: 15px !important;
	line-height: 18px !important;
}
.txt-18-22 {
	font-family: 'Roboto Condensed';
	font-size: 18px;
	line-height: 22px;
}
.txt-18-30 {
	font-family: 'Roboto Condensed';
	font-size: 18px;
	line-height: 30px;
}
.txt-24-29 {
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 29px;
}
.txt-24-34 {
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 34px;
}
.txt-24-32 {
	font-family: 'Roboto Condensed';
	font-size: 24px;
	line-height: 32px;
}
.txt-32-32 {
	font-family: 'Roboto Condensed';
	font-size: 32px;
	line-height: 32px;
}

.txt-32-38 {
	font-family: 'Roboto Condensed';
	font-size: 32px;
	line-height: 38px;
}
.txt-12-18 {
	font-family: 'Roboto Condensed';
	font-size: 12px;
	line-height: 18px;
}
.txt-12-15 {
	font-family: 'Roboto Condensed';
	font-size: 12px;
	line-height: 15px;
}
.txt-16-24 {
	font-family: 'Roboto Condensed';
	font-size: 16px;
	line-height: 24px;
}
.txt-16-26 {
	font-family: 'Roboto Condensed';
	font-size: 16px;
	line-height: 26px;
}
.txt-16-20 {
	font-family: 'Roboto Condensed';
	font-size: 16px;
	line-height: 20px;
}
.txt-16-19 {
	font-family: 'Roboto Condensed';
	font-size: 16px;
	line-height: 19px;
}
.txt-20 {
	font-family: 'Roboto Condensed';
	font-size: 20px;
}
.txt-20-24 {
	font-family: 'Roboto Condensed';
	font-size: 20px;
	line-height: 24px;
}