.border-none {
	border: none;
}
.border-8 {
	border: 1px solid $color-8;
}
.border-15 {
	border: 1px solid $color-15;
}

.border-top-6 {
	border-top: 1px solid $color-6;
}

.border-bottom-6 {
	border-bottom: 1px solid $color-6;
}

