

.full-h {
	height: 100%;
}

.full-box {
	width: 100%;
	height: 100%;
}



.full-window-h {
	height: 100vw;
}

<<<<<<< HEAD:public/html/scss/common/dimension.scss
.h-504 {
	height: 504px;
}
.h-342 {
	height: 342px;
}
=======

>>>>>>> c58e89fc77ac6af28666a6f197d14b95767d7037:themes/base/resources/sass/common/dimension.scss
.box-72 {
	width: 72px;
	height: 72px;
}


// WIDTD DIMENSION
.full-window-w {
	width: 100vw;
}
.full-w {
	width: 100%;
}

.w-24 {
	width: 24px;
}
.w-420 {
	width: 420px;
}
.h-536 {
	height: 536px;
}
.h-352 {
	height: 352px;
}
.h-172 {
	height: 172px;
}
.w-30 {
	width: 30px;
}
.w-44 {
	width: 44px;
}
.w-56 {
	width: 56px;
}
.w-60 {
	width: 60px;
}



.w-550 {
	width: 550px;
}
.offset-w-550 {
	width: calc(100% - 550px);
}

.h-512 {
	height: 512px;
}







.w-920 {
	width: 920px;
}
.offset-w-920 {
	width: calc(100% - 920px);
}
.w-792 {
	width: 920px;
}
.offset-w-792 {
	width: calc(100% - 792px);
}
.h-40 {
	height: 40px;
}

.h-44 {
	height: 44px;
}
.h-623 {
	height: 623px;
}
<<<<<<< HEAD:public/html/scss/common/dimension.scss
.w-26 {
	width: 26px;
}
.h-26 {
	height: 26px;
}
=======
>>>>>>> c58e89fc77ac6af28666a6f197d14b95767d7037:themes/base/resources/sass/common/dimension.scss
.w-816 {
	width: 816px;
}
.h-64 {
	height: 64px;
}
.h-66 {
	height: 66px;
}
.h-376 {
	height: 376px;
}
.h-30 {
	height: 30px;
}
.h-296 {
	height: 296px;
}
.w-291 {
	width: 291px;
}
.h-232 {
	height: 232px;
}
.h-20 {
	height: 20px;
}
.h-220 {
	height: 220px;
}
.w-1024 {
	width: 1024px;
}
.w-182 {
	width: 182px;
}
.h-650 {
	height: 650px;
}
.h-180 {
	height: 180px;
}
.w-148 {
	width: 148px;
}
.h-488 {
	height: 488px;
}
.h-12 {
	height: 12px;
}
.w-212 {
	width: 212px;
}
.h-16 {
	height: 16px;
}
.h-36 {
	height: 36px;
}

.h-600 {
	height: 600px;
}
.w-1200 {
	width: 1200px;
}
.w-284 {
	width: 284px;
}

.w-856 {
	width: 856px;
}

.h-88 {
	height: 88px;
}
.box-88 {
	width: 88px;
	height: 88px;
}
.box-64 {
	width: 64px;
	height: 64px;
}
.offset-w-88 {
	width: calc(100% - 88px);
}
.w-80 {
	width: 80px;
}

.w-88 {
	width: 88px;
}
.h-24 {
	height: 24px;
}
.h-32 {
	height: 32px;
}
.w-12 {
	width: 12px;
}
.w-128 {
	width: 128px;
}
.h-80 {
	height: 80px;
}
.h-289 {
	height: 289px;
}
.h-120 {
	height: 120px;
}
.h-184 {
	height: 184px;
}
.w-296 {
	width: 296px;
}
.h-338 {
	height: 338px;
}
.w-452 {
	width: 452px;
}
.offset-w-64 {
	width: calc(100% - 64px);
}
.offset-w-296 {
	width: calc(100% - 296px);
}
.w-608 {
	width: 608px;
}
.h-124 {
	
	height: 124px;
}
.h-48 {
	height: 48px !important;
}
.h-264 {
	height: 264px;
}
.h-280 {
	height: 280px;
}
.h-140 {
	height: 140px;
}
.w-415 {
	width:  415px;
}
.w-4 {
	width: 4px;
}
.w-123 {
	width: 123px;
}
.w-1232 {
	width: 1232px;
}
.box-48 {
	width: 48px;
	height: 48px;
}

.box-40 {
	width: 40px;
	height: 40px;
}
.w-134 {
	width: 134px;
}
.w-264 {
	width: 264px;
}
.w-268 {
	width: 268px;
}
.h-214 {
	height: 214px;
}
.h-698 {
	height: 698px;
}
.w-269 {
	width: 269px;
}
.w-410 {
	width: 410px;
}
.h-160 {
	height: 160px;
}
.h-412 {
	height: 412px;
}
.h-248 {
	height: 248px;
}
.offset-h-248 {
	height: calc(100% - 248px);
}
.offset-w-48 {
	width: calc(100% - 48px);
}
.w-48 {
	width: 48px;
}
.h-62 {
	height: 62px;
}
.h-124 {
	height: 124px;
}
.w-202 {
	width: 202px;
}
.w-74 {
	width: 74px;
}
.h-52 {
	height: 52px;
}
.h-56 {
	height: 56px;
}
.w-576 {
	width: 576px;
}
.h-144 {
	height: 144px;
}
.h-112 {
	height: 112px;
}
.box-112 {
	width: 112px;
	height: 112px;
}

.offset-w-112 {
	width: calc(100% - 112px);
}

.box-38-49 {
	width: 38px;
	height: 49px;
}

.box-64-38 {
	width: 64px;
	height: 38px;
}
.box-32 {
	width: 32px;
	height: 32px;
}