.spr-en-flag {
    background-size: 1437%;
    background-position: 0px -2px;
}
.spr-vn-race-logo {
	background-size: 343px;
	background-position: -27px -1px;
}
 

 
.spirit-vma, .spirit-circle-1, .spirit-circle-2, .spirit-big-play, .spirit-next-nav, 
.spirit-prev-nav, .spirit-fia, .spirit-plus, .spirit-color-fb, .spirit-color-google, 
.spirit-color-twitter, .spirit-denmark, .spirit-document-white, .spirit-document, .spirit-earth, 
.spirit-en, .spirit-exit, .spirit-fb, .spirit-image-white, .spirit-image, 
.spirit-italy, .spirit-left, .spirit-macao, .spirit-mail, .spirit-more, 
.spirit-papers, .spirit-play-white, .spirit-play, .spirit-potugese, .spirit-right, 
.spirit-search, .spirit-twitter, .spirit-vn, .spirit-circle-3, .spirit-dropdown-white, 
.spirit-dropdown, .spirit-joined, .spirit-circle-4, .spirit-big-right
{ display: inline-block; background: url('../assets/images/spirit/spirit.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.spirit-vma { background-position: -0px -0px; width: 212px; height: 36px; }
.spirit-circle-1 { background-position: -0px -36px; width: 60px; height: 65px; }
.spirit-circle-2 { background-position: -60px -36px; width: 60px; height: 30px; }
.spirit-big-play { background-position: -120px -36px; width: 48px; height: 48px; }
.spirit-next-nav { background-position: -168px -36px; width: 40px; height: 96px; }
.spirit-prev-nav { background-position: -60px -66px; width: 40px; height: 96px; }
.spirit-fia { background-position: -100px -84px; width: 30px; height: 20px; }
.spirit-plus { background-position: -130px -84px; width: 28px; height: 28px; }
.spirit-color-fb { background-position: -0px -101px; width: 24px; height: 24px; }
.spirit-color-google { background-position: -24px -101px; width: 24px; height: 24px; }
.spirit-color-twitter { background-position: -100px -104px; width: 24px; height: 24px; }
.spirit-denmark { background-position: -124px -112px; width: 24px; height: 16px; }
.spirit-document-white { background-position: -0px -125px; width: 24px; height: 24px; }
.spirit-document { background-position: -24px -125px; width: 24px; height: 24px; }
.spirit-earth { background-position: -100px -128px; width: 24px; height: 24px; }
.spirit-en { background-position: -124px -128px; width: 24px; height: 16px; }
.spirit-exit { background-position: -148px -132px; width: 24px; height: 24px; }
.spirit-fb { background-position: -172px -132px; width: 24px; height: 24px; }
.spirit-image-white { background-position: -124px -144px; width: 24px; height: 24px; }
.spirit-image { background-position: -0px -149px; width: 24px; height: 24px; }
.spirit-italy { background-position: -24px -149px; width: 24px; height: 16px; }
.spirit-left { background-position: -100px -152px; width: 24px; height: 24px; }
.spirit-macao { background-position: -148px -156px; width: 24px; height: 16px; }
.spirit-mail { background-position: -172px -156px; width: 24px; height: 24px; }
.spirit-more { background-position: -48px -162px; width: 24px; height: 24px; }
.spirit-papers { background-position: -72px -162px; width: 24px; height: 24px; }
.spirit-play-white { background-position: -24px -165px; width: 24px; height: 24px; }
.spirit-play { background-position: -124px -168px; width: 24px; height: 24px; }
.spirit-potugese { background-position: -148px -172px; width: 24px; height: 16px; }
.spirit-right { background-position: -0px -173px; width: 24px; height: 24px; }
.spirit-search { background-position: -96px -176px; width: 24px; height: 24px; }
.spirit-twitter { background-position: -172px -180px; width: 24px; height: 24px; }
.spirit-vn { background-position: -48px -186px; width: 24px; height: 16px; }
.spirit-circle-3 { background-position: -72px -186px; width: 21px; height: 49px; }
.spirit-dropdown-white { background-position: -100px -66px; width: 16px; height: 16px; }
.spirit-dropdown { background-position: -148px -112px; width: 16px; height: 16px; }
.spirit-joined { background-position: -196px -132px; width: 16px; height: 16px; }
.spirit-circle-4 { background-position: -48px -101px; width: 12px; height: 24px; }
.spirit-big-right { background-position: -158px -84px; width: 10px; height: 26px; }